pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml 
pypdf
bs4
arxiv
pymupdf
wikipedia
faiss-cpu
langchain-huggingface
pinecone
langchain_google_genai 
sentence-transformers
langchain_pinecone
youtube_search
langgraph
